{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="#contact" role="button">Contact Us</a>
    </div>
  </div>

  <section id="images" class="mt-5">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" >
                  <img src="./images/screenshot/mobile/inventoryFramed.png"  class="d-block h-75" alt="Mobile Login">
          <div class="carousel-caption d-none">
            <h5>Mobile Inventory</h5>
            <p class="text-muted">Inventory assets using RFID, Barcode, or BLE</p>
          </div>
        </div>
        <div class="carousel-item">
                  <img src="./images/screenshot/mobile/itemDataFramed.png" class="d-block h-75" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Item Information</h5>
            <p class="text-muted">Allow employees to edit configurable item information</p>
          </div>
        </div>
        <div class="carousel-item">
                  <img src="./images/screenshot/mobile/taskViewFramed.png" class="d-block h-75" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Task Management</h5>
            <p class="text-muted">Employees are pushed tasks to complete on their mobile device</p>
          </div>
        </div>
        <div class="carousel-item">
                  <img src="./images/screenshot/web/itemManagement.png" class="d-block h-75" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Item Management</h5>
            <p class="text-muted">Manage your items' information and keep track of any changes</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" style="color: black" aria-hidden="true"><</span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" style="color: black" aria-hidden="true">></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section id="products" class="mt-5">
    <div class="container-lg">
      <div class="text-center">
        <h2>Products</h2>
        <p class="lead text-muted">Choose a product that suits you.</p>
      </div>

      <div class="row g-0 align-items-center justify-content-center">
        <div class="col-lg-4 col-xl-4">
          <div class="card border-0 side-product" style="padding:0.25em; margin-top:0.5em; margin-bottom: 0.5em">
            <div class="card-body text-center" style="padding:0.25em">
              <h4 class="card-title" style="margin:0">Inventory Management</h4>
              <p class="lead card-subtitle">Manage and understand your inventory</p>
              <p class="card-text text-muted d-none d-lg-block">
                Inventory your assets easily using RFID and understand your stock levels
              </p>
              <a href="#contact" class="btn btn-outline-primary btn-lg mt-3">
                Contact Us
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="bg-light card border-primary border-2" style="padding:0.25em; margin-top:0.5em; margin-bottom: 0.5em">
            <div class="card-header text-center text-primary">Most Popular</div>
            <div class="card-body text-center" style="padding:0.25em">
              <h4 class="card-title" style="margin:0">Asset
                Management</h4>
              <p class="lead card-subtitle">Control your businesses assets</p>
              <p class="card-text d-none d-lg-block">
                Manage your business assets by using traxsense to assign, report, inventory, and track your assets
              </p>
              <a href="#contact" class="btn btn-outline-primary btn-lg mt-3">
                Contact Us
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-xl-4">
          <div class="card border-0 side-product" style="padding:0.25em; margin-top:0.5em; margin-bottom: 0.5em">
            <div class="card-body text-center" style="padding:0.25em">
              <h4 class="card-title" style="margin:0">Inspection Managment</h4>
              <p class="lead card-subtitle">Understand the conditions of your assets</p>
              <p class="card-text text-muted d-none d-lg-block">
                Ensure that the assets you have deployed in the field are in optimum condition.
              </p>
              <a href="#contact" class="btn btn-outline-primary btn-lg mt-3">
                Contact Us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="topics">
    <div class="container-md">
      <div class="text-center">
        <h2>Features</h2>
        <p class="lead text-muted">A quick glance at what Traxsense can provide</p>
      </div>
      <div class="row my-5 g-5 justify-content-around align-items-center">
        <div class="col-lg-6" >
          <img id="according-img" src="./images/screenshot/mobile/taskViewFramed.png" class="according-img img-fluid" alt="mobile">
        </div>
        <div class="col-lg-6" style="height: 35em;">
          <div class="accordion" id="chapters">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-2" style="margin: 0">
                <button onclick="changeAccordionImage('./images/screenshot/mobile/taskViewFramed.png')"
                        class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#chapter-2" aria-expanded="true" aria-controls="chapter-2">
                  Mobile Task Management
                </button>
              </h2>
              <div id="chapter-2" class="accordion-collapse collapse show" aria-labelledby="heading-2"
                   data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>Use Traxsense to request inventories, inspections, picking, managing registration, and issuing.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1" style="margin: 0">
                <button onclick="changeAccordionImage('./images/screenshot/web/acquisitionMonitoring.png')"
                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#chapter-1" aria-expanded="false" aria-controls="chapter-1">
                  IoT Technology
                </button>
              </h2>
              <div id="chapter-1" class="accordion-collapse collapse" aria-labelledby="heading-1"
                   data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>Through the use of Barcode, RFID, BLE, ML Kit, Sigfox, Geolocation, and many more Traxsense
                    does the low-level work so that your business doesn't have to.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-3" style="margin: 0">
                <button onclick="changeAccordionImage('./images/screenshot/web/itemTrackingDashboard.png')"
                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#chapter-3" aria-expanded="false" aria-controls="chapter-1">
                  Real Time Location Tracking
                </button>
              </h2>
              <div id="chapter-3" class="accordion-collapse collapse" aria-labelledby="heading-3"
                   data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>Using static readers, gateways, and GPS, Traxsense can give you a real-time view of your assets
                    and where they are.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-4" style="margin: 0">
                <button onclick="changeAccordionImage('./images/screenshot/web/itemManagement.png')"
                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#chapter-4" aria-expanded="false" aria-controls="chapter-4">
                  Rule Engine
                </button>
              </h2>
              <div id="chapter-4" class="accordion-collapse collapse" aria-labelledby="heading-4"
                   data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>Our rule engine gives you the ability to alert, export, effect, and optimize your workflow.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-5" style="margin: 0">
                <button onclick="changeAccordionImage('./images/screenshot/mobile/inventoryFramed.png')"
                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#chapter-5" aria-expanded="false" aria-controls="chapter-5">
                  Enabling RFID
                </button>
              </h2>
              <div id="chapter-5" class="accordion-collapse collapse" aria-labelledby="heading-5"
                   data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>If you are currently using barcodes in your business and would like to enable your business to
                    use RFID look no further than Traxsense.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  &lt;!&ndash; reviews list &ndash;&gt;-->
  <!--  <section id="reviews" class="bg-dark">-->
  <!--    <div class="container-lg">-->
  <!--      <div class="text-center">-->
  <!--        <h2><i class="bi bi-stars text-dark"></i>Book Reviews</h2>-->
  <!--        <p class="lead">What my students have said about the book...</p>-->
  <!--      </div>-->

  <!--      <div class="row justify-content-center my-5">-->
  <!--        <div class="col-lg-8">-->
  <!--          <div class="list-group">-->
  <!--            <div class="list-group-item py-3">-->
  <!--              <div class="pb-2">-->
  <!--                <i class="bi bi-star-fill text-altdark"></i>-->
  <!--                <i class="bi bi-star-fill text-altdark"></i>-->
  <!--                <i class="bi bi-star-fill text-altdark"></i>-->
  <!--                <i class="bi bi-star-fill text-altdark"></i>-->
  <!--                <i class="bi bi-star-fill text-altdark"></i>-->
  <!--              </div>-->
  <!--              <h5 class="mb-1">A must-buy for every aspiring web dev</h5>-->
  <!--              <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur error veniam sit expedita est illo maiores neque quos nesciunt, reprehenderit autem odio commodi labore praesentium voluptate repellat in id quisquam.</p>-->
  <!--              <small>Review by Mario</small>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>-->

  <section id="contact">
    <div class="container-lg">

      <div class="text-center">
        <h2>Get in Touch</h2>
        <!--        <p class="lead">Questions to ask? Fill out the form to contact me directly...</p>-->
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-lg-6">
          <h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg> Call
          </h1>
          <p class="lead"><a href="tel:+27 10 350 5200">+27 10 350 5200</a></p>
          <p class="lead"><a href="tel:+27 11 794 3513">+27 11 794 3513</a></p>
        </div>
        <div class="col-lg-6">
          <h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
            </svg> Email
          </h1>
          <p class="lead"><a href="mail:sales@rfid.co.za">sales@rfid.co.za</a></p>

          <!--          <form>-->
          <!--            <label for="email" class="form-label">Email address:</label>-->
          <!--            <div class="input-group mb-4">-->
          <!--              <span class="input-group-text">-->
          <!--                <i class="bi bi-envelope-fill text-secondary"></i>-->
          <!--              </span>-->
          <!--              <input type="text" id="email" class="form-control" placeholder="e.g. mario@example.com"/>-->
          <!--              <span class="input-group-text">-->
          <!--                <span class="tt" data-bs-placement="bottom" title="Enter an email address we can reply to.">-->
          <!--                  <i class="bi bi-question-circle text-muted"></i>-->
          <!--                </span>-->
          <!--              </span>-->
          <!--            </div>-->
          <!--            <label for="name" class="form-label">Name:</label>-->
          <!--            <div class="mb-4 input-group">-->
          <!--              <span class="input-group-text">-->
          <!--                <i class="bi bi-person-fill text-secondary"></i>-->
          <!--              </span>-->
          <!--              <input type="text" id="name" class="form-control" placeholder="e.g. Mario"/>-->
          <!--              <span class="input-group-text">-->
          <!--                <span class="tt" data-bs-placement="bottom" title="Pretty self explanatory really...">-->
          <!--                  <i class="bi bi-question-circle text-muted"></i>-->
          <!--                </span>-->
          <!--              </span>-->
          <!--            </div>-->
          <!--            <label for="subject" class="form-label">What is your question about?</label>-->
          <!--            <div class="mb-4 input-group">-->
          <!--              <span class="input-group-text">-->
          <!--                <i class="bi bi-chat-right-dots-fill text-secondary"></i>-->
          <!--              </span>-->
          <!--              <select class="form-select" id="subject">-->
          <!--                <option value="pricing" selected>Pricing query</option>-->
          <!--                <option value="content">Content query</option>-->
          <!--                <option value="other">Other query</option>-->
          <!--              </select>-->
          <!--            </div>-->
          <!--            <div class="mb-4 mt-5 form-floating">-->
          <!--              <textarea class="form-control" id="query" style="height: 140px" placeholder="query"></textarea>-->
          <!--              <label for="query">Your query...</label>-->
          <!--            </div>-->
          <!--            <div class="mb-4 text-center">-->
          <!--              <button type="submit" class="btn btn-secondary">Submit</button>-->
          <!--            </div>-->
          <!--          </form>-->
        </div>
      </div>
    </div>
  </section>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
<!--  <section class="section section-sm">-->
<!--    <div class="container">-->
<!--      <div class="row justify-content-center text-center">-->
<!--        <div class="col-lg-5">-->
<!--          <h2 class="h4">Security aware</h2>-->
<!--          <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a> out of the box. Easily change the default Security Headers to suit your needs.</p>-->
<!--        </div>-->
<!--        <div class="col-lg-5">-->
<!--          <h2 class="h4">Fast by default ⚡️</h2>-->
<!--          <p>Get 100 scores on <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=59aafe464a68f8bc30b8e9a636d5b053">Google Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>-->
<!--        </div>-->
<!--        <div class="col-lg-5">-->
<!--          <h2 class="h4">SEO-ready</h2>-->
<!--          <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings to your liking.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row justify-content-center text-center">-->
<!--        <div class="col-lg-5">-->
<!--          <h2 class="h4">Full text search</h2>-->
<!--          <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>-->
<!--        </div>-->
<!--        <div class="col-lg-5">-->
<!--          <h2 class="h4">Page layouts</h2>-->
<!--          <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>-->
<!--        </div>-->
<!--        <div class="col-lg-5">-->
<!--          <h2 class="h4">Dark mode</h2>-->
<!--          <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
